<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>La ruche</title>
		<!-- Inclure la bibliothèque Chart.js -->
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	</head>
	<body>
	   
        
            
            <h1>Un graphique avec les courbes de différentes informations</h1>
        
   
	<hr>
		{% block content%}{%endblock%}
	</body>
</html>